@media screen and (max-width: 800px) {
  header {
    margin: 10px;
    background-color: #b2b5fd;
    border-radius: 25px;
  }

  main {
    background-color: #d1acff;
    margin: 10px;
    margin-bottom: 70px;
    border-radius: 25px;
    padding: 20px;
  }
  main .card {
    border-radius: 15px 50px;
    margin: 15px 0;
  }
  main .card-img-top {
    width: 80%;
    align-self: center;
    margin-top: 10px;
  }

  footer {
    padding: 10px 10px 0 0;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    background-color: #e4dad2;
    width: 100%;
  }
}
